<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%= wicked_pdf_stylesheet_link_tag "jackpot/pdf" -%>
  </head>
  <body>
    <div id="content">
        
      <h1><%= @payment.site_user.shop.name %></h1>    
      <h3>Payment receipt</h3> 
      <p>
        Account billed: <%= @payment.site_user.email %>
       
        <%= form_for @payment.site_user, url: "/business_user/site_users/#{@payment.site_user.id}",:html => { :class => '' , multipart: true  } do |f| %>
          <%= f.fields_for :properties, OpenStruct.new(@payment.site_user.properties) do |builder| %>

            <% @payment.site_user.shop.fields.where("isreceipt = true").each do |field| %>

              <%= render :partial => "userdetails/fields/#{field.field_type}", locals:{field: field, f:builder, current_site_user: @payment.site_user}, :formats => [:html] %>
            <% end %>
          <% end %>                 
        <% end %> 
      </p>

      <table id="payment-information" class="table table-striped" width="100%">
        <thead>
          <th align="left">Transaction ID</th>
          <th align="left">Date</th>
          <th align="left">Subscription Plan</th>
          <th align="left">Amount</th>
        </thead>
        <tbody>
          <td><%= @payment.payment_transaction_token %></td>
          <td><%= @payment.created_at.strftime("%d/%m/%Y") %></td>
          <td><%= @payment.subscription.name %></td>
          <td><%= number_to_currency @payment.amount, unit: "Rs " %></td>
        </tbody>
      </table>
      <hr>
      <p>
        The payment was successfully processed 
      </p>
      <div id="page" class="page">
    <!-- Footer -->
    <footer class="tm-black-bg bg editContent">
        <div class="container">
            <div class="row">
                <div style="text-align: center; height: 100px;" >
                    <p class="tm-copyright-text">Copyright © 2016 <%= @payment.site_user.shop.name %> | Designed by <a rel="nofollow" href="#" target="_blank">jalaram-techsolutions.com</a></p>
                </div>
            </div>
        </div>      
    </footer>
</div>

    </div>
  </body>
</html>
