<%= form_for @auction, url: business_shop_auctions_action(@auction, params[:action]),:html => { :class => '' , multipart: true  } do |f| %>
  <fieldset>
    <div class="form-group">
      <%= f.label :name, :class => 'control-label' %><span class="asterix">*</span>
      <%= f.text_field :name, :class => 'text_field form-control', :placeholder => 'Enter text', :required => '' %>
    </div>

    <div class="form-group">
      <%= f.label :shop_id %><br />
      <%= f.collection_select(:shop_id, current_business_user.shops.all, :id, :name, {:prompt => 'Select'}, {:class => 'form-control'}) %>
    </div>

    <div class="form-group" >
      <%= f.label :start_date_time %><span class="asterix">*</span><br />
      <%= f.text_field :startdatetime, :class => 'text_field date form-control', :id => 'date-time-start-display', :required => '' %>
    </div>

    <div class="form-group">
      <% @auction.skills.all.each_with_index do |skill, index| %>   
        <%= f.label :skills %><br />
        <div class="collection-check-box clearfix">
          <%= skill.name %>
          <%= image_tag skill.image_url(:thumb), :class=> "img-responsive skill-icon pull-left" %>          
        </div>
      <% end %>
    </div>

    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to "Cancel", business_user_auctions_path, :class => 'btn btn-default' %>
  </fieldset>
<% end %>

<script type="text/javascript">
  $(function () {
      $('#date-time-start-display').datepicker();
  });
</script>
