<%= form_for @player, url: "/business_user/teamplayers/"+@player.id.to_s+"?auction_id="+@auction.id.to_s,:html => { :class => '' , multipart: true, :method=>"post"  } do |f| %>
  <fieldset>        
    <% if alert %>
      <div class="alert alert-danger fade in">
      <%= alert %>
      </div>
    <% end %>
    <% if notice %>
      <div class="alert alert-success fade in">
      <%= notice %>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :name, :class => 'control-label' %>
      : <%= @player.name %>
    </div>    
    <div class="form-group">
      <%= f.label :age, :class => 'control-label' %>
      : <%= @player.age  %>
    </div>
    <div class="form-group">
      <%= f.label :baseprice, :class => 'control-label' %>
      : <%= @player.baseprice %>
    </div>
    <div class="form-group">
      <table class="table">
        <thead>
          <tr>
            <th>Skills</th>                                 
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>      
            <% index = 0 %>
            <%= f.fields_for :playerskills do |ps| %>              
              <tr>
                <td>              
                    <div class="collection-check-box">                      
                      <%= ps.label :skill_id, ps.object.player.skills[index].name %>   
                      <% if ps.object.player.skills[index].image_url %>                        
                        <%= image_tag ps.object.player.skills[index].image_url(:thumb), :class=> "img-responsive skill-icon"%>
                      <% end %>
                    </div>
                </td>
                <td>
                  <%= ps.text_field :rating, :readonly=>true %>                  
                </td>
              </tr>              
              <% index = index + 1%>
            <% end %>          
        </tbody>
      </table>            
    </div>
    <div class="form-group">
      <%= f.label :team_id %><br />
      <%= f.collection_select(:team_id, auction_teams(@auction.id, @player.id), :id, :name, {:prompt => 'Select'}, {:class => 'form-control', :required => ''}) %>
    </div>
    <div class="form-group">
      <%= f.label :is_captain %><br />
      <%= f.radio_button :is_captain, true %> <br>
    </div>
    <div class="form-group">
      <%= f.label :auctionprice, :class => 'control-label' %><span class="asterix">*</span>
      <%= f.text_field :auctionprice, :class => 'text_field form-control', :placeholder => 'Auction Price', :required => '' %>
    </div>
    <input type="hidden" id="auction_id" name="auction_id" value="<%=@auction.id%>">  
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to "cancel", business_user_players_path(:auction_id => @auction.id), :class => 'btn btn-default' %>
  </fieldset>
<% end %>
