<%= form_for @player, url: business_shop_players_action(@player, params[:action]),:html => { :class => 'player_edit' , multipart: true  } do |f| %>
<% if @player.errors.full_messages.any? %>
  <% @player.errors.full_messages.each do |error_message| %>
  <%= error_message if @player.errors.full_messages.first == error_message %> <br />
  <% end %>
  <% end %>
  <fieldset>
    <div class="form-group">
      <%= f.label :name, :class => 'control-label' %><span class="asterix">*</span>
      <%= f.text_field :name, :class => 'text_field form-control', :placeholder => 'Enter text', :required => '' %>
    </div>    
    <div class="form-group">
      <%= f.label :age, :class => 'control-label' %><span class="asterix">*</span>
      <%= f.text_field :age, :class => 'text_field form-control', :placeholder => 'Enter text', :required => '' %>
    </div>
    <div class="form-group">      
      <%= f.label :image, :class => 'control-label' %><span class="asterix">*</span>
      <% if params[:action] == "playeredit" || params[:action] == "edit" %>  
        <%= f.file_field :image %>
        <% if @player.image.blank?%>
          <img src="<%= image_path("no-image.jpg") %>">
        <%else%>
          <a href="<%= @player.image_url(:thumb) %>" data-lightbox="<%= @player.name %>" data-title="<%= @player.name %>">
            <%= image_tag @player.image_url(:thumb), :class=> "owner-image" %>
          </a>
        <%end%>
      <% else %>
        <%= f.file_field :image, :required => '' %>
      <% end %>
      
      
    </div>
        <div class="form-group">
      <%= f.label :description, :class => 'control-label' %><span class="asterix">*</span>
      <%= f.text_area :description, :class => 'text_field form-control tinymce'  %>
    </div>
    <div class="form-group">
      <%= f.label :baseprice, :class => 'control-label' %><span class="asterix">*</span>
      <%= f.text_field :baseprice, :class => 'text_field form-control', :placeholder => 'Enter text', :required => '' %>
    </div>
    <div class="form-group">
      <table class="table">
        <thead>
          <tr>
            <th>Skills</th>                                 
            <th>Rating</th>
            <% if params[:action] == "edit" || params[:action] == "playeredit" %>
            <th>Delete</th>
            <% end %>
          </tr>
        </thead>
        <tbody>        
            <% mindex = 0 %>            
            <% @auction.skills.all.each_with_index do |skill, index| %>                          
              <tr>
                <td>              
                    <div class="collection-check-box clearfix">
                      <% if @player.skills.ids.include?(skill.id) %>

                        <input type="checkbox" value="<%= skill.id %>" name="player[playerskills_attributes][<%=index%>][skill_id]" class=" pull-left" style="margin-right: 10px;" checked="checked"> 
                        <input type="hidden" name="player[playerskills_attributes][<%=index%>][id]" class="skill_rating" value="<%= @player.playerskills[mindex].id %>">
                      <% else %>
                        <input type="checkbox" value="<%= skill.id %>" name="player[playerskills_attributes][<%=index%>][skill_id]" class=" pull-left" style="margin-right: 10px;"> 
                      <% end %>
                      

                      <% if skill.image_url %>
                        <%= image_tag skill.image_url(:thumb), :class=> "img-responsive skill-icon pull-left"%>
                      <% end %>
                      <%= skill.name %>
                    </div>
                  
                </td>
                <td>
                  <% if @player.skills.ids.include?(skill.id) %>
                    <input type="text" name="player[playerskills_attributes][<%=index%>][rating]" class="skill_rating" value="<%= @player.playerskills[mindex].rating %>">          
                  <% else %> 
                    <input type="text" name="player[playerskills_attributes][<%=index%>][rating]" class="skill_rating">            
                  <% end %> 
                </td>
                
                <% if params[:action] == "edit" || params[:action] == "playeredit" %>
                  <td>
                    <input type="checkbox" name="player[playerskills_attributes][<%=index%>][_destroy]" class="skill_rating" value="1">
                  <td>
                <% end %>
              </tr>   
              <% 
                if @player.skills.ids.include?(skill.id)
                  mindex = mindex + 1
                end
              %>         
          <% end %>        
        </tbody>
      </table>      
      
    </div>
    <input type="hidden" id="auction_id" name="auction_id" value="<%=@auction.id%>">  
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to "Cancel", business_user_players_path(:auction_id => @auction.id), :class => 'btn btn-default' %>
  </fieldset>
<% end %>
<script type="text/javascript">
  tinyMCE.init({
        selector: "textarea.tinymce",
        toolbar: "styleselect | bold italic | undo redo | table | forecolor | backcolor | emoticons | visualblocks",
        plugins: "table,uploadimage,textcolor,colorpicker,emoticons,hr,textpattern,visualblocks"
      });
</script>
