<%= tinymce_assets %>
<%= form_for @shop, url: business_shop_action(@shop, params[:action]),  :html => { :class => 'newform' , multipart: true } do |f| %>
  <div class="form-group">
      <%= f.label :name, :class => 'control-label' %><span class="asterix">*</span>
      <%= f.text_field :name, :required => '', :class => 'text_field form-control', :placeholder => 'Name' %>
  </div>
  <div class="form-group">
      <%= f.label :subdomain, :class => 'control-label' %><span class="asterix">*</span>
      <%= f.text_field :subdomain, :class => 'text_field form-control', :placeholder => 'Subdomain', :required => '' %>
  </div>
  <div class="form-group">
    <%= f.label :category_id %><br />
    <%= f.collection_select(:category_id, Category.all, :id, :name, {:prompt => 'Select'}, {:class => 'form-control'}) %>
  </div>
  <div class="form-group">
      <%= f.label :phone, :class => 'control-label' %>
      <%= f.text_field :phone, :class => 'text_field form-control', :placeholder => 'Enter text' %>
  </div>
  <div class="form-group">
      <%= f.label :address, :class => 'control-label' %>
      <%= f.text_area :address, :class => 'text_field form-control', :rows => '3' %>
  </div>
  <div class="form-group">
      <%= f.label :country, :class => 'control-label' %><span class="asterix">*</span>
      <select onchange="print_state('state',this.selectedIndex);" id="country" name ="shop[country]" selected="<%= @shop.country%>" class="form-control"></select>
  </div>
  <div class="form-group">
      <%= f.label :state, :class => 'control-label' %><span class="asterix">*</span>
      <select name ="shop[state]" id ="state" class="form-control"></select>
  </div>
  <div class="form-group">
      <%= f.label :city, :class => 'control-label' %><span class="asterix">*</span>
      <%= f.text_field :city, :class => 'text_field form-control', :placeholder => 'City', :required => '' %>
  </div>
  <div class="form-group">
      <%= f.label :zip, :class => 'control-label' %><span class="asterix">*</span>
      <%= f.text_field :zip, :class => 'text_field form-control', :type => 'number', :required => '' %>
  </div>
  <div class="form-group">
      <%= f.label :info, :class => 'control-label' %>
      <%= f.text_area :info, :class => 'text_field form-control tinymce', :rows => 10 %>
  </div>
  <div class="form-group">
      <%= f.label :avatar, :class => 'control-label' %>
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
  </div>
  <div class="form-group">
      <%= f.label :facebook, :class => 'control-label' %>
      <%= f.text_field :facebook, :class => 'text_field form-control', :type => 'url', :pattern => 'https?://.+', :placeholder => 'http://www.example.com' %>
  </div>
  <div class="form-group">
      <%= f.label :linkedin, :class => 'control-label' %>
      <%= f.text_field :linkedin, :class => 'text_field form-control', :type => 'url', :pattern => 'https?://.+', :placeholder => 'http://www.example.com' %>
  </div>
  <div class="form-group">
      <%= f.label :google, :class => 'control-label' %>
      <%= f.text_field :google, :class => 'text_field form-control', :type => 'url', :pattern => 'https?://.+', :placeholder => 'http://www.example.com' %>
  </div>
  <div class="form-group">
      <%= f.label :twitter, :class => 'control-label' %>
      <%= f.text_field :twitter, :class => 'text_field form-control', :type => 'url', :pattern => 'https?://.+', :placeholder => 'http://www.example.com' %>
  </div>
  <div class="form-group">
      <%= f.label :type, :class => 'control-label' %><span class="asterix">*</span>
      <%= f.radio_button :shoptype, '0' %> Shop
      <%= f.radio_button :shoptype, '1' %> Store
      
  </div>
  <div class="form-group clearfix">
    <div class="col-lg-3 col-xs-3 text-center">
      <%= f.radio_button :template, 'template_1', :checked => true %><br> 
      <%= image_tag "footwear_thumbnail.jpg", :class => 'img-responsive', :style => "width : 100px; height :100px"%>
    </div>
    <div class="col-lg-3 col-xs-3 text-center">
      <%= f.radio_button :template, 'template_2' %> <br>
      <%= image_tag "clothes_thumbnail.jpg", :class => 'img-responsive', :style => "width : 100px; height :100px"%>
    </div>
    <div class="col-lg-3 col-xs-3 text-center">
      <%= f.radio_button :template, 'template_3' %> <br>
      <%= image_tag "food_thumbnail.jpg", :class => 'img-responsive', :style => "width : 100px; height :100px"%>
    </div>
    <div class="col-lg-3 col-xs-3 text-center">
      <%= f.radio_button :template, 'template_4' %> <br>
      <%= image_tag "sports_thumbnail.jpg", :class => 'img-responsive', :style => "width : 100px; height :100px"%>
    </div>
        <div class="col-lg-3 col-xs-3 text-center">
      <%= f.radio_button :template, 'mandir' %> <br>
      Mandir
      <%#= image_tag "sports_thumbnail.jpg", :class => 'img-responsive', :style => "width : 100px; height :100px"%>
    </div>
</p>
  </div>
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to "cancel", business_user_shops_path, :class => 'btn btn-default' %>
<% end %>
<%= tinymce plugins: ["uploadimage"] %>

    <script language="javascript">print_country("country");</script>  


