
<%= form_for @shop, url: business_shop_action(@shop, params[:action]),  :html => { :class => '' , multipart: true  } do |f| %>
  <div class="form-group">
      <%= f.label :name, :class => 'control-label' %>
      <%= f.text_field :name, :class => 'text_field form-control', :placeholder => 'Nname' %>
  </div>
    <div class="form-group">
      <%= f.label :subdomain, :class => 'control-label' %>
      <%= f.text_field :subdomain, :class => 'text_field form-control', :placeholder => 'Subdomain' %>
      <p class="help-block">subdomain.cc.com</p>
  </div>
      <div class="form-group">
      <%= f.label :category_id %><br />
      <%= f.collection_select(:category_id, Category.all, :id, :name, :prompt => 'Select', :class => 'form-control') %>
    </div>
  <div class="form-group">
      <%= f.label :phone, :class => 'control-label' %>
      <%= f.text_field :phone, :class => 'text_field form-control', :placeholder => 'Enter text' %>
      <p class="help-block">Example block-level help text here.</p>
  </div>
  <div class="form-group">
      <%= f.label :address, :class => 'control-label' %>
      <%= f.text_area :address, :class => 'text_field form-control', :rows => '3' %>
  </div>
  <div class="form-group">
      <%= f.label :info, :class => 'control-label' %>
      <%= f.text_area :info, :class => 'text_field form-control', :rows => '3' %>
  </div>
  <div class="form-group">
      <%= f.label :avatar, :class => 'control-label' %>
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
  </div>
  <div class="form-group">
    <%= f.radio_button :template, 'template_1' %> <%= image_tag "footwear_thumbnail.jpg", :style => "width : 100px; height :100px"%>
    <%= f.radio_button :template, 'template_2' %> <%= image_tag "clothes_thumbnail.jpg", :style => "width : 100px; height :100px"%>
    <%= f.radio_button :template, 'template_3' %> <%= image_tag "food_thumbnail.jpg", :style => "width : 100px; height :100px"%>
    <%= f.radio_button :template, 'template_4' %> <%= image_tag "sports_thumbnail.jpg", :style => "width : 100px; height :100px"%>
</p>
  </div>
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to "cancel", business_user_shops_path, :class => 'btn btn-default' %>
<% end %>
                                


