<%= tinymce_assets %>
<%= form_for @shop, url: admin_shop_action(@shop, params[:action]),  :html => { :class => '' , multipart: true  } do |f| %>
    <div class="form-group">
      <%= f.label :name, :class => 'control-label' %><span class="asterix">*</span>
      <%= f.text_field :name, :class => 'text_field form-control', :placeholder => 'Name', :required => '' %>
  </div>
    <div class="form-group">
      <%= f.label :subdomain, :class => 'control-label' %><span class="asterix">*</span>
      <%= f.text_field :subdomain, :class => 'text_field form-control', :placeholder => 'Subdomain', :required => '' %>
      <p class="help-block">Ex: subdomain.ccbizon.com</p>
      <input <%= !@shop.domain.blank? ? "checked" : '' %> type="checkbox" name="isowndomain" id="isowndomain" > Setup on own domain
      <br />
      <%= f.text_field :domain, :class => 'text_field form-control', :placeholder =>"www.example.com", :id => "shop_domain" %>
  </div>
  <div class="form-group">
    <%= f.label :category_id %><br />
    <%= f.collection_select(:category_id, Category.all, :id, :name, {:prompt => 'Select'}, {:class => 'form-control'}) %>
  </div>
  <div class="form-group">
      <%= f.label :phone, :class => 'control-label' %>
      <%= f.text_field :phone, :class => 'text_field form-control', :placeholder => 'Enter text' %>
  </div>
  <div class="form-group">
      <%= f.label :address_name, :class => 'control-label' %>
      <%= f.text_field :addressname, :class => 'text_field form-control', :placeholder => 'Enter text' %>
  </div>
  <div class="form-group">
      <%= f.label :street_address, :class => 'control-label' %>
      <%= f.text_field :buildingname, :class => 'text_field form-control', :placeholder => 'Enter text' %>
  </div>
  <div class="form-group">
      <%= f.label :landmark, :class => 'control-label' %>
      <%= f.text_field :blockno, :class => 'text_field form-control', :placeholder => 'Enter text' %>
  </div>
  <div class="form-group details">
      <%= f.label :address, :class => 'control-label' %>
      <%= f.text_area :address, :class => 'text_field form-control', :rows => '3', :placeholder => 'Type in an address', :id=>"my_input", :"data-geo"=>"formatted_address" %>
  
      <input id="find" type="button" value="find" class="btn btn-default">
      <div id="my_map"></div>
      <%= f.hidden_field :latitude, :id=>"shop_latitude", :"data-geo"=>"lat"  %>
      <%= f.hidden_field :longitude, :id=>"shop_longitude", :"data-geo"=>"lng"  %> 
  </div>
  <!--
  <div class="form-group">
      <%= f.label :country, :class => 'control-label' %><span class="asterix">*</span>
      <select onchange="print_state('state',this.selectedIndex);" id="country" name ="country" selected="<%= @shop.country%>" class="form-control"></select>
  </div>
  <div class="form-group">
      <%= f.label :state, :class => 'control-label' %><span class="asterix">*</span>
      <select name ="state" id ="state" selected="<%= @shop.state%>" class="form-control"></select>
  </div>
  <div class="form-group">
      <%= f.label :city, :class => 'control-label' %><span class="asterix">*</span>
      <%= f.text_field :city, :class => 'text_field form-control', :placeholder => 'City', :required => '' %>
  </div>

  <div class="form-group">
      <%= f.label :zip, :class => 'control-label' %><span class="asterix">*</span>
      <%= f.text_field :zip, :class => 'text_field form-control', :placeholder => 'Zip', :required => '' %>
  </div>-->


  <div class="form-group">
      <%= f.label :About_us, :class => 'control-label' %>
      <%= f.text_area :info, :class => 'text_field form-control tinymce', :rows => 10  %>
  </div>
  <div class="form-group">
      <%= f.label :Home_Page_Content, :class => 'control-label' %>
      <%= f.text_area :homecontent, :class => 'text_field form-control tinymce', :rows => 10 %>
  </div>
  <!--
  <div class="form-group">
      <%= f.label :page_title, :class => 'control-label' %>
      <%= f.text_area :pagetitle, :class => 'text_field form-control', :rows => '3' %>
  </div>
  <div class="form-group">
      <%= f.label :metakey_words, :class => 'control-label' %>
      <%= f.text_area :metakeywords, :class => 'text_field form-control', :rows => '3' %>
  </div>
  <div class="form-group">
      <%= f.label :meta_description, :class => 'control-label' %>
      <%= f.text_area :metadescription, :class => 'text_field form-control', :rows => '3' %>
  </div>-->
  <div class="form-group">
      <%= f.label :google_analytics, :class => 'control-label' %>
      <%= f.text_field :googleanalytics, :class => 'text_field form-control', :rows => '3' %>
  </div>
  <div class="form-group">
      <%= f.label :is_active, :class => 'control-label' %>
      <%= f.check_box :isactive, :class => 'isactive' %>
  </div>
  <div class="form-group">
      <%= f.label :logo, :class => 'control-label' %>
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
  </div>
  <div class="form-group">
      <%= f.label :background_image, :class => 'control-label' %>
      <%= f.file_field :backgroundimage %>
      <%= f.hidden_field :backgroundimage_cache %>
  </div>
  <div class="form-group">
      <%= f.label :gallerytype, :class => 'control-label' %><br>
      <%= f.radio_button :gallerytype, '0' %> Listing <br>
      <%= f.radio_button :gallerytype, '1' %> Carousel <br>
  </div>
  <div class="form-group">
      <%= f.label :facebook, :class => 'control-label' %>
      <%= f.text_field :facebook, :class => 'text_field form-control', :type => 'url', :pattern => 'https?://.+', :placeholder => 'http://www.example.com' %>
  </div>
  <div class="form-group">
      <%= f.label :linkedin, :class => 'control-label' %>
      <%= f.text_field :linkedin, :class => 'text_field form-control', :type => 'url', :pattern => 'https?://.+', :placeholder => 'http://www.example.com' %>
  </div>
<div class="form-group">
      <%= f.label :google, :class => 'control-label' %>
      <%= f.text_field :google, :class => 'text_field form-control', :type => 'url', :pattern => 'https?://.+', :placeholder => 'http://www.example.com' %>
  </div>
<div class="form-group">
      <%= f.label :twitter, :class => 'control-label' %>
      <%= f.text_field :twitter, :class => 'text_field form-control', :type => 'url', :pattern => 'https?://.+', :placeholder => 'http://www.example.com' %>
  </div>


  <div class="form-group clearfix">
    <div class="col-lg-3 col-xs-3 text-center">
      <%= f.radio_button :template, 'template_1', :checked => true %><br> 
      <%= image_tag "footwear_thumbnail.jpg", :class => 'img-responsive', :style => "width : 100px; height :100px"%>
    </div>
    <div class="col-lg-3 col-xs-3 text-center">
      <%= f.radio_button :template, 'template_2' %> <br>
      <%= image_tag "clothes_thumbnail.jpg", :class => 'img-responsive', :style => "width : 100px; height :100px"%>
    </div>
    <div class="col-lg-3 col-xs-3 text-center">
      <%= f.radio_button :template, 'template_3' %> <br>
      <%= image_tag "food_thumbnail.jpg", :class => 'img-responsive', :style => "width : 100px; height :100px"%>
    </div>
    <div class="col-lg-3 col-xs-3 text-center">
      <%= f.radio_button :template, 'template_4' %> <br>
      <%= image_tag "sports_thumbnail.jpg", :class => 'img-responsive', :style => "width : 100px; height :100px"%>
    </div>
    <div class="col-lg-3 col-xs-3 text-center">
      <%= f.radio_button :template, 'mandir' %> <br>
      <%= image_tag "mandir_thumbnail.jpg", :class => 'img-responsive', :style => "width : 100px; height :100px"%>
    </div>
    <div class="col-lg-3 col-xs-3 text-center">
      <%= f.radio_button :template, 'entertainment_1' %> <br>
      <%= image_tag "thumbnails/entertainment_1_thumbnail.jpg", :class => 'img-responsive', :style => "width : 100px; height :100px"%>
    </div>
    <div class="col-lg-3 col-xs-3 text-center">
      <%= f.radio_button :template, 'entertainment_2' %> <br>
      <%= image_tag "thumbnails/entertainment_2_thumbnail.jpg", :class => 'img-responsive', :style => "width : 100px; height :100px"%>
    </div>
    <div class="col-lg-3 col-xs-3 text-center">
      <%= f.radio_button :template, 'education_1' %> <br>
      <%= image_tag "thumbnails/education_1_thumbnail.jpg", :class => 'img-responsive', :style => "width : 100px; height :100px"%>
    </div>
    <div class="col-lg-3 col-xs-3 text-center">
      <%= f.radio_button :template, 'education_2' %> <br>
      <%= image_tag "thumbnails/education_2_thumbnail.jpg", :class => 'img-responsive', :style => "width : 100px; height :100px"%>
    </div>
    <div class="col-lg-3 col-xs-3 text-center">
      <%= f.radio_button :template, 'education_3' %> <br>
      <%= image_tag "thumbnails/education_3_thumbnail.jpg", :class => 'img-responsive', :style => "width : 100px; height :100px"%>
    </div>
    <div class="col-lg-3 col-xs-3 text-center">
      <%= f.radio_button :template, 'clothes_1' %> <br>
      <%= image_tag "clothes_img1.jpg", :class => 'img-responsive', :style => "width : 100px; height :100px"%>
    </div>
    <div class="col-lg-3 col-xs-3 text-center">
      <%= f.radio_button :template, 'clothes_2' %> <br>
      <%= image_tag "thumbnails/clothes_2_thumbnail.jpg", :class => 'img-responsive', :style => "width : 100px; height :100px"%>
    </div>
    <div class="col-lg-3 col-xs-3 text-center">
      <%= f.radio_button :template, 'food_1' %> <br>
      <%= image_tag "thumbnails/food_1_thumbnail.jpg", :class => 'img-responsive', :style => "width : 100px; height :100px"%>
    </div>
    <div class="col-lg-3 col-xs-3 text-center">
      <%= f.radio_button :template, 'food_2' %> <br>
      <%= image_tag "thumbnails/food_2_thumbnail.jpg", :class => 'img-responsive', :style => "width : 100px; height :100px"%>
    </div>
    <div class="col-lg-3 col-xs-3 text-center">
      <%= f.radio_button :template, 'health_1' %> <br>
      <%= image_tag "thumbnails/health_1_thumbnail.jpg", :class => 'img-responsive', :style => "width : 100px; height :100px"%>
    </div>
    <div class="col-lg-3 col-xs-3 text-center">
      <%= f.radio_button :template, 'social_1' %> <br>
      <%= image_tag "social_banner_1.jpg", :class => 'img-responsive', :style => "width : 100px; height :100px"%>
    </div>
    <div class="col-lg-3 col-xs-3 text-center">
      <%= f.radio_button :template, 'sports_1' %> <br>
      <%= image_tag "thumbnails/sports_1_thumbnail.jpg", :class => 'img-responsive', :style => "width : 100px; height :100px"%>
    </div>
    <div class="col-lg-3 col-xs-3 text-center">
      <%= f.radio_button :template, 'sports_2' %> <br>
      <%= image_tag "thumbnails/sports_2_thumbnail.jpg", :class => 'img-responsive', :style => "width : 100px; height :100px"%>
    </div>
</p>
  </div>
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to "Cancel", business_user_shops_path, :class => 'btn btn-default' %>
<% end %>
<%= tinymce plugins: ["uploadimage"] %>
<script language="javascript">
  //print_country("country");
  $(function() {
    //$("#country").val('<%= @shop.country%>');
    //$("#country option[value='<%= @shop.country%>']").prop('selected', true);
    //populateStates("country","state")
   //$("#state").val('<%= @shop.state%>');

    $("#my_input").geocomplete({
      map: "#my_map",
      details: ".details",
      detailsAttribute: "data-geo",
      <% if @shop.latitude.blank? || @shop.longitude.blank? %>
      location:"Pune, Maharashtra, India",
      <% end %>
      
      type: ['store','geocode','locality','establishment'],
      mapOptions: {
        zoom: 15,
        scrollwheel: true,
        mapTypeId: "hybrid",
        <% if !@shop.latitude.blank? && !@shop.longitude.blank? %>
        center:{lat: <%= @shop.latitude%>, lng: <%= @shop.longitude%>}
        <% end %>
      },
      markerOptions: {
        draggable: true,
        <% if !@shop.latitude.blank? && !@shop.longitude.blank? %>
        position:{lat: <%= @shop.latitude%>, lng: <%= @shop.longitude%>}
        <% end %>
      }
    }); 
  });
</script>  