<% @shop = shop%> 
<ul>	

<% if !@shop.events.blank? %>		        
<li><a href="/shopevents"><span><%= get_page_name(@shop.id,'events',"Events") %></span></a></li>
<% end %>
<% if !@shop.auction.blank? %>		        
<li><a href="/auction"><span><%= get_page_name(@shop.id,'auction',"Live auction update") %></span></a></li>
<li><a href="/teams"><span><%= get_page_name(@shop.id,'team',"Teams") %></span></a></li>
<% end %>
<% if !@shop.shop_images.blank? %>
	<li><a href="/gallery"><span><%= get_page_name(@shop.id,'gallery',"Gallery") %></span></a></li>
<% end %>

<% @shop.seodetails.where("parentpage IS ? and isinmenu = ? ", nil, 1).order("extrapage asc").each do |category| %>
	<% @submenu = Seodetail.where("parentpage = ?", category.id) %>
<% if category.parentpage.blank? %>
	<% 
		if @submenu.present? 
		@attr = 'class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"'	
	%>
	<li class="dropdown ">
<% else %>
	<li class="big-bold ">
<% end %>
	<% if category.extrapage %>
		<a <%= "#{@attr}" %> class="<%= active_class(additional_attributes[:pageid], category.id) %>" href='/page/<%=category.id%>/<%=category.pagename%>'><span><%=category.pagename%></span></a>
	<% else %>	            		
		<a <%= "#{@attr}"%> class="<%= active_class(additional_attributes[:pageid], category.id) %>" href='/page/<%=category.id%>/<%=category.pagename%>' ><span><%=category.pagename%></span></a>
	<% end %>	            
    
      <% if @submenu.present? %>

        <%= render partial: 'business_user/elements/mainmenu', locals: {subcategories: @submenu} %>
      
       
      <% end %>
    </li>
    

  <% end %>
	<% end %>
	
	

    <% if @shop.loginenabled %>
		<li>
	    <% if !additional_attributes[:current_site_user] %>
	    <a href="#" data-toggle="modal" data-target="#myModal"><span>Login</span></a>
	    <% else %>
	    	<span><%= link_to "#{"Log Out"}".html_safe, destroy_site_user_session_path, :method=>'delete' %></span>
	    <% end %>
		</li>
	<% end %>
	</ul>
<!--
	<ul class="nav navbar-nav">		      	
		        <li class=""><a href="/"><span>< %= get_page_name(@shop.id,'home', "Home") %></span></a></li>
		        < % if !@shop.info.blank? %>
		        <li><a href="/aboutus"><span>< %= get_page_name(@shop.id,'about',"About Us") %></span></a></li>
		        < % end %>
		        < % if !@shop.events.blank? %>		        
		        <li><a href="/shopevents"><span>< %= get_page_name(@shop.id,'events',"Events") %></span></a></li>
		        < % end %>
		        < % if !@shop.auction.blank? %>		        
		        <li><a href="/auction"><span>< %= get_page_name(@shop.id,'auction',"Live auction update") %></span></a></li>
		        <li><a href="/teams"><span>< %= get_page_name(@shop.id,'team',"Teams") %></span></a></li>
		        < % end %>
		        < % if !@shop.shop_images.blank? %>
		        	<li><a href="/gallery"><span>< %= get_page_name(@shop.id,'gallery',"Gallery") %></span></a></li>
		        < % end %>
		        <li><a href="/contactus"><span> < %= get_page_name(@shop.id,'contact',"Contact Us") %></span></a></li>
		        <li>
		        < % if !current_site_user %>
		        <a href="/site_users/sign_in"><span>Login</span></a>
		        < % else %>
		        	<span>< %= link_to "#{"Log Out"}".html_safe, destroy_site_user_session_path, :method=>'delete' %></span>
		        < % end %>
		        </li>
		      </ul>-->