<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Shop SEO details</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">    
          <%= link_to "Add Details", new_admin_seodetail_path(:shop_id => @shop.id), :class => 'btn btn-primary' %>     
          <%= link_to "Back", admin_shops_path, :class => 'btn btn-primary' %>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body" id="container1">
          
          <div class="row" id="items1">
            <table class="table table-striped table-bordered table-hover dataTables-example" id="dataTables-example">
              <thead>
                <tr>
                  <th>Page</th>
                  <th>Title</th>
                  <th>Keywords</th>                  
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
            <% if !@shop_seo.blank?%>
            <% @shop_seo.each do |seo| %>            
                <tr>
                  <td><%= seo.pagename %></td>
                  <td><%= seo.title %></td>
                  <td><%= seo.metakeywords %></td>
                  <td>
                    <%= link_to "Edit", {:controller => "seodetails", :action => "edit", :shop_id => @shop.id, :id => seo.id} , :class => 'btn btn-primary btn-mini'%>
                  </td>
                  
                </td>
            <% end %>
          <% end %>
          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
</div>
<!-- /#page-wrapper -->
