
<!-- Auction page-->
<div class="container main-content auction_page compare_teams">
  <div class="row">
    <div class="auction_container col-lg-12 clearfix">
      <h3>Teams</h3>
      <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 auction_players_list">
      <% if !@shop.auction.teams.blank?%>
        <% @shop.auction.teams.each_with_index do |team, index| %>
          <div class="col-lg-3 teams_columns">
			      <table class="table">
			      	<thead>
			      		<tr>
			      			<th><%= team.name%><br/><small>Current Balance: <%= team.points %></small></th>
			      		</tr>
			      	</thead>
			      	<tbody>
			      		<% team.players.each do |player| %>
		              <% if !player.blank?%>
					          <tr>
	      							<td>
	      								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
			      							<% if player.image.blank?%>
		                      	<img src="<%= image_path("no-image.jpg") %>">
		                      <%else%>
		                      	<a href="<%= player.image_url %>" data-lightbox="<%= player.name %>" data-title="<%= player.name %>">
		                      		<%= image_tag player.image_url(:thumb), :class=> "owner-image" %>
		                      	</a>
		                      <%end%>
		                    </div>
		                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
					                <p><b><%= link_to player.name, "player/"+player.id.to_s %></b>
					                <br/>
					                <small>Sold For: <%= player.baseprice.to_s %></small></p>
					              </div>
			              	</td>
				      			</tr>
		              <%end%>
		            <%end%>			    	
			      	</tbody>
			      </table>
					</div>
        <% end %>
      <% end %> 
      </div>
    </div>
  </div>
</div> 


       