<meta http-equiv="refresh" content="30">
<!-- Auction page-->
<div class="container main-content auction_page">
  <% #if Time.at(@shop.auction.startdatetime.to_time.to_i).to_datetime.strftime("%m-%d-%Y %H:%M:%S").to_time.to_i > Time.now.to_i %>
  <!--div class="auctiondate">
    Auction Timing: <%= Time.at(@shop.auction.startdatetime.to_time.to_i).to_datetime.strftime("%m-%d-%Y %H:%M:%S") %>
  </div>
  <br>
  <div class="countdown">

  </div-->

  <% #else %>

  <div class="clearfix">
  <span class="pull-left">Total No. of visitors: <%= @shop.auction.impressionist_count(:filter=>:ip_address)%></span><br>
    <span class="pull-left">No. of visitors: <%= @shop.auction.impressionist_count(:start_date=>Time.now.strftime("%Y-%m-%d"),:filter=>:ip_address)%></span>    

    <span class="pull-right"><input type="button" value="Refresh Page" onClick="window.location.reload();" /></span>
  </div>
  <div class="row">
    <div class="auction_container col-lg-12 clearfix">
      <h3>Live Auction (<%= link_to "Compare Teams", "/compare_teams" %>)</h3>
      <div class="pull-left col-lg-7 col-sm-7 col-md-7 col-xs-12 auction_players_list">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <% if !@shop.auction.teams.blank?%>
            <% @shop.auction.teams.each_with_index do |team, index| %>
            <!-- <li role="presentation" class="active"><a href="#team1" aria-controls="team1" role="tab" data-toggle="tab">Team1</a></li> -->
              <li role="presentation" class=" <%= index == 0 ? 'active' : ''%>">
                <a href="#<%= team.name.tr(" ", "_")%>" aria-controls="team2" role="tab" data-toggle="tab"><%= team.name%></a>
              </li>
            <!-- <li role="presentation"><a href="#team3" aria-controls="team3" role="tab" data-toggle="tab">Team3</a></li> -->
            <!-- <li role="presentation"><a href="#team4" aria-controls="team4" role="tab" data-toggle="tab">Team4</a></li> -->
            <%end%>
          <%end%>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <% if !@shop.auction.teams.blank?%>
            <% @shop.auction.teams.each_with_index do |team, index| %>
              <div role="tabpanel" class="tab-pane clearfix <%= index == 0 ? 'active' : ''%>" id="<%= team.name.tr(" ", "_")%>">
                <% team.players.in_groups_of(2) do |players| %>
                  <div class="row tab_content_wrapper">
                    <% players.each_with_index do |player, index|%>
                      <% if !player.blank?%>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 ">
                          <p><b><%= link_to player.name, "player/"+player.id.to_s %></b></p>
                          <p>Base Price: <strong><%= player.baseprice %></strong></p>
                          <p>Auction Price: <strong><%= player.auctionprice %></strong></p>
                          <p>Skills: <br>
                          <% player.skills.each_with_index do |skill, index| %>                  
                            <% if skill.image_url %>                        
                              <%= image_tag skill.image_url(:thumb), :class=> "img-responsive skill-icon pull-left"%>
                            <% end %>        
                            <strong class="pull-left"><%= skill.name %>(<%= player.playerskills[index].rating %>/5)&nbsp;</strong><br>
                          <% end %>
                          </p>
                        </div>
                      <%end%>
                    <%end%>
                  </div>
                <%end%>
              </div>
            <%end%>
          <%end%>
        </div>
      </div>
      <div class="pull-right col-lg-5 col-sm-5 col-md-5 col-xs-12 players_section">
        <p>Players</p>

        <% @players.each do |player|%>
        <div class="players_list clearfix">
          <div class="col-lg-12">
            <div class="row tab_content_wrapper">
              <div class="pull-left col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <% if player.image.blank?%>
                    <img src="<%= image_path("no-image.jpg") %>">
                    <%else%>
                    <a href="<%= player.image_url %>" data-lightbox="<%= player.name %>" data-title="<%= player.name %>">
                      <%= image_tag player.image_url(:thumb), :class=> "owner-image" %>
                    </a>
                <%end%>
              </div>
              <div class="pull-left col-lg-9 col-md-9 col-sm-9">
                <div class="col-lg-12">
                    <p><%= link_to player.name, "player/"+player.id.to_s %></p>
                    <p>Base Price: <strong><%= player.baseprice %></strong></p>
                    <p>Skills: <br><strong>
                      <% player.skills.each_with_index do |skill, index| %>
                        <% if skill.image_url %> 
                          <%= image_tag skill.image_url(:thumb), :class=> "img-responsive skill-icon pull-left"%>
                          </a>
                        <% end %>  
                        <strong class="pull-left"><%= skill.name %>(<%= player.playerskills[index].rating %>/5)&nbsp;</strong><br>
                      <% end %>
                    </strong></p>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <%end%>
      </div>
    </div>
  </div>
  <% #end %>
</div>
