
<!-- Auction page-->
<div class="container main-content auction_page">
  <div class="row">
    <div class="auction_container col-lg-12 clearfix">
      <h3>Teams</h3>
      <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 auction_players_list">
      <% if !@shop.auction.teams.blank?%>
              <% @shop.auction.teams.each_with_index do |team, index| %>
              <div style="float: left;">
	      <table>
	      	<thead>
	      		<tr>
	      		
	      				<th><%= team.name%></th>

	      		</tr>
	      	</thead>
	      	
			            
	      	<tbody>
	      		<% team.players.each do |player| %>
                      <% if !player.blank?%>
			          <tr>
			            
		      							<td>
					                <p><b><%= player.name %></b></p>
					                <p>Auction Price: <strong><%= player.auctionprice %></strong></p>
					                <p>Skills: 
						                <% player.skills.each_with_index do |skill, index| %>
						                  <strong>
						                  	<%= skill.name %>(<%= player.playerskills[index].rating %>/5)&nbsp;
						                  </strong>
						                <% end %>
					                </p>
				              	</td>

		      			</tr>
                    <%end%>
                  <%end%>			    	
	      	</tbody>

				          	
	      </table>

</div>
        <% end %>
            <% end %>  
            <div style="clear: both;"></div>


       