<div class="container main-content events_page">
  <div class="row">
    <div class="events_container col-lg-8">
      <h3>Events</h3>
      <% @shop.events.each do |event|%>
      <div class="events_details clearfix">
        <div class="col-lg-2 col-sm-2">
          <% if event.photo_url %>
            <% if FileTest.exist?(event.photo.versions[:thumb].file.path) %>          
              <img src="<%= event.photo_url(:thumb)%>" alt="">
            <% else %>
              <img src="<%= event.photo_url%>" alt="">
            <% end %>
          <% end %>
        </div>
        <div class="col-lg-9 col-sm-9 col-lg-offset-1 col-sm-offset-1">
          <span><h4>Date:&nbsp;</h4><%= event.event_date.strftime("%d %b %Y") %></span>
          <span><h4>Venue:&nbsp;</h4><%= event.venue.strip.blank? ? event.shop.address : event.venue%></span>
          <span><h4>Description:&nbsp;</h4> <%= event.discription%> </span>
        </div>
      </div>
      <%end%>
    </div>

    <div class="events-dates_container col-lg-4">
      <h3>Events Calendar</h3>
      <div class="">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  2016
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <a href="#"><span>January</span></a>
                <a href="#"><span>February</span></a>
                <a href="#"><span>March</span></a>
                <a href="#"><span>April</span></a>
                <a href="#"><span>May</span></a>
                <a href="#"><span>June</span></a>
                <a href="#"><span>July</span></a>
                <a href="#"><span>August</span></a>
                <a href="#"><span>September</span></a>
                <a href="#"><span>October</span></a>
                <a href="#"><span>November</span></a>
                <a href="#"><span>December</span></a>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  2015
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <a href="#"><span>January</span></a>
                <a href="#"><span>February</span></a>
                <a href="#"><span>March</span></a>
                <a href="#"><span>April</span></a>
                <a href="#"><span>May</span></a>
                <a href="#"><span>June</span></a>
                <a href="#"><span>July</span></a>
                <a href="#"><span>August</span></a>
                <a href="#"><span>September</span></a>
                <a href="#"><span>October</span></a>
                <a href="#"><span>November</span></a>
                <a href="#"><span>December</span></a>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  2014
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <a href="#"><span>January</span></a>
                <a href="#"><span>February</span></a>
                <a href="#"><span>March</span></a>
                <a href="#"><span>April</span></a>
                <a href="#"><span>May</span></a>
                <a href="#"><span>June</span></a>
                <a href="#"><span>July</span></a>
                <a href="#"><span>August</span></a>
                <a href="#"><span>September</span></a>
                <a href="#"><span>October</span></a>
                <a href="#"><span>November</span></a>
                <a href="#"><span>December</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>















<!-- Auction page-->
<div class="container main-content auction_page">
  <div class="clearfix">
    <span class="pull-left">No. of visitors: 189</span>
    <span class="pull-right"><input type="button" value="Refresh Page" onClick="window.location.reload();" /></span>
  </div>
  <div class="row">
    <div class="auction_container col-lg-12 clearfix">
      <h3>Live Auction</h3>
      <div class="pull-left col-lg-7 col-sm-12 col-md-12 col-xs-12 auction_players_list">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#team1" aria-controls="team1" role="tab" data-toggle="tab">Team1</a></li>
          <li role="presentation"><a href="#team2" aria-controls="team2" role="tab" data-toggle="tab">Team2</a></li>
          <li role="presentation"><a href="#team3" aria-controls="team3" role="tab" data-toggle="tab">Team3</a></li>
          <li role="presentation"><a href="#team4" aria-controls="team4" role="tab" data-toggle="tab">Team4</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active clearfix" id="team1">
            <div class="row tab_content_wrapper">
              <div class="col-lg-5">
                <p>Player Name</p>
                <p>Auction Price: <strong>1234</strong></p>
                <p>Skills: <strong>Batsmen</strong></p>
                <p>Ratings: <strong>4/10</strong></p>
              </div>
              <div class="col-lg-5 col-lg-offset-1">
                <p>Player Name</p>
                <p>Auction Price: <strong>1234</strong></p>
                <p>Skills: <strong>Batsmen</strong></p>
                <p>Ratings: <strong>4/10</strong></p>
              </div>
            </div>
            <div class="row tab_content_wrapper">
              <div class="col-lg-6">
                <p>Player Name</p>
                <p>Auction Price: <strong>1234</strong></p>
                <p>Skills: <strong>Batsmen</strong></p>
                <p>Ratings: <strong>4/10</strong></p>
              </div>
              <div class="col-lg-6">
                <p>Player Name</p>
                <p>Auction Price: <strong>1234</strong></p>
                <p>Skills: <strong>Batsmen</strong></p>
                <p>Ratings: <strong>4/10</strong></p>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="team2">
            <div class="row tab_content_wrapper">
              <div class="col-lg-5">
                <p>Player Name</p>
                <p>Auction Price: <strong>1234</strong></p>
                <p>Skills: <strong>Batsmen</strong></p>
                <p>Ratings: <strong>4/10</strong></p>
              </div>
              <div class="col-lg-5 col-lg-offset-1">
                <p>Player Name</p>
                <p>Auction Price: <strong>1234</strong></p>
                <p>Skills: <strong>Batsmen</strong></p>
                <p>Ratings: <strong>4/10</strong></p>
              </div>
            </div>
            <div class="row tab_content_wrapper">
              <div class="col-lg-6">
                <p>Player Name</p>
                <p>Auction Price: <strong>1234</strong></p>
                <p>Skills: <strong>Batsmen</strong></p>
                <p>Ratings: <strong>4/10</strong></p>
              </div>
              <div class="col-lg-6">
                <p>Player Name</p>
                <p>Auction Price: <strong>1234</strong></p>
                <p>Skills: <strong>Batsmen</strong></p>
                <p>Ratings: <strong>4/10</strong></p>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="team3">
            <div class="row tab_content_wrapper">
              <div class="col-lg-5">
                <p>Player Name</p>
                <p>Auction Price: <strong>1234</strong></p>
                <p>Skills: <strong>Batsmen</strong></p>
                <p>Ratings: <strong>4/10</strong></p>
              </div>
              <div class="col-lg-5 col-lg-offset-1">
                <p>Player Name</p>
                <p>Auction Price: <strong>1234</strong></p>
                <p>Skills: <strong>Batsmen</strong></p>
                <p>Ratings: <strong>4/10</strong></p>
              </div>
            </div>
            <div class="row tab_content_wrapper">
              <div class="col-lg-6">
                <p>Player Name</p>
                <p>Auction Price: <strong>1234</strong></p>
                <p>Skills: <strong>Batsmen</strong></p>
                <p>Ratings: <strong>4/10</strong></p>
              </div>
              <div class="col-lg-6">
                <p>Player Name</p>
                <p>Auction Price: <strong>1234</strong></p>
                <p>Skills: <strong>Batsmen</strong></p>
                <p>Ratings: <strong>4/10</strong></p>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="team4">...</div>
        </div>
      </div>
      <div class="pull-right col-lg-5 col-sm-12 col-md-12 col-xs-12 players_section">
        <p>Players</p>
        <div class="players_list clearfix">
          <div class="col-lg-12">
            <div class="row tab_content_wrapper">
              <div class="pull-left col-lg-3">
                <img src="<%= image_path("no-image.jpg") %>">
              </div>
              <div class="pull-left col-lg-9">
                <div class="col-lg-12">
                    <p>Player Name</p>
                    <p>Auction Price: <strong>1234</strong></p>
                    <p>Skills: <strong>Batsmen</strong></p>
                    <p>Ratings: <strong>4/10</strong></p>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
