<%= render :partial => "layouts/carousel"%>		
<% if !@shop.homecontent.blank? %>

	<div class="content_wrapper welcome_content">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">						
					<p class="about_content"><%= @shop.homecontent.html_safe%></p>
				</div>
			</div>
		</div>
	</div>
<% end %>



<div class="offers_containers">
	<div class="container">
		<div class="row latest_offers clearfi">
			<% if !@shop.offers.latest.blank? %>
			<div class="col-lg-6 latest_set">
				<div class="section_heading">
					<h3>Latest Offers</h3>
					<span></span>
				</div>
				<div class="offers_set clearfix">
					<% @shop.offers.latest.each do |offer|%>
							<div class="col-lg-6">
								<div class="offers_box">
									<div class="offer_products">
									<%= image_tag offer.image_url, :class=> "img-responsive" %>
										<% if !offer.discount.blank? %>
										<div class="offer_text">
											<p><%= offer.discount %> Discount</p>
										</div>
										<% end %>
									</div>
									<p class="title"><%= offer.name%></p>
								</div>
							</div>
					<%end%>	
				</div>
			</div>
			<% end %>
			<% if !@shop.offers.featured.blank? %>
			<div class="col-lg-6">
				<div class="section_heading">
					<h3>Upcoming Offers</h3>
					<span></span>
				</div>
				<div>
					<% @shop.offers.featured.each do |offer|%>
						<div class="col-lg-6">
							<div class="offers_box">
								<div class="offer_products">
								<%= image_tag offer.image_url, :class=> "img-responsive" %>
									<% if !offer.discount.blank? %>
									<div class="offer_text">
										<p><%= offer.discount %> Discount</p>
									</div>
									<% end %>
								</div>
								<p class="title"><%= offer.name%></p>
							</div>
						</div>
						<%end%>	
					</div>
			</div>
			<% end %>
		</div>
	</div>
</div>