<!-- Teams page-->
<div class="container main-content auction_page">
  <div class="row">
    <div class="auction_container col-lg-12 clearfix">
      <h3>Teams</h3>
      <div class="pull-left col-lg-12 col-sm-12 col-md-12 col-xs-12">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <% if !@shop.auction.teams.blank?%>
            <% @shop.auction.teams.each_with_index do |team, index| %>
              <li role="presentation" class=" <%= index == 0 ? 'active' : ''%>"><a href="#team<%= team.id%>" aria-controls="team1" role="tab" data-toggle="tab"><%= team.name%></a></li>
            <% end %>
          <% end %>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <% if !@shop.auction.teams.blank?%>
            <% @shop.auction.teams.each_with_index do |team, index| %>
            <div role="tabpanel" class="tab-pane clearfix <%= index == 0 ? 'active' : ''%>" id="team<%= team.id%>">
              <div class="players_list clearfix">
                <div class="col-lg-12">
                  <% if !team.teamowners.blank?%>
                  <% team.teamowners.each do |owner| %>
                  <div class="row tab_content_wrapper">
                    <div class="pull-left col-lg-2">
                      <%= image_tag owner.photo_url(:thumb), :class=> "owner-image" %>
                      <!-- <img src="<%#= image_path("no-image.jpg") %>"> -->
                    </div>
                    <div class="pull-left col-lg-10">
                      <div class="col-lg-12">
                          <p><%= owner.name%></p>
                          <p>About Team: <%= owner.description.html_safe %></p>
                      </div>
                    </div>
                  </div>
                  <% end %>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
