<%= render :partial => "layouts/carousel"%>
		<% if !@shop.homecontent.blank? %>
		<div class="container main-content">
			<div class="latest_offers">
				<div class="row">
					<div class="col-lg-12">						
						<p class="about_content"><%= get_page_content%></p>
					</div>
				</div>
			</div>

		</div>
		<% end %>
		<div class="container main-content">
			<div class="row latest_offers">
				<% if !@shop.offers.latest.blank? %>
				<div class="col-lg-4">
					<div class="section_heading latest-offers clearfix">
						<h3 class="">Latest Offers</h3>
					</div>
					<div class="latest-offers_box">
					
					<% @shop.offers.latest.each do |offer|%>
						<div class="clearfix">
						<a href=""><%= image_tag offer.image_url, :class=> "pull-left img-responsive", :style => "width : 91px; height : 64px;" %></a>
							<p class=""><a href=""><%= offer.name%></a></p>
							<% if !offer.discount.blank? %>
							<p class=""><%= offer.discount%> Discount</p>
							<% end %>
							
							<p class=""><a href=""><%= offer.description%></a></p>
						</div>
					<%end%>
					
						
					</div>
				</div>
				<%end%>
				<% if !@shop.info.blank? %>
				<div class="col-lg-8">
					<div class="section_heading clearfix">
						<h3 class="pull-left">Welcome</h3>
					</div>
					<div class="offers_box">
						<div class="aboutus">
							<%= @shop.info.html_safe%>
						</div>
					</div>
				</div>
				<% end %>
			</div>
			<% if !@shop.offers.featured.blank? %>
			<div class="row upcomin_off">
				<div class="section_heading col-lg-12"><h3>Upcoming Offers</h3></div>
			
				<% @shop.offers.featured.each do |offer|%>	
					<div class="col-lg-6">
						<div class="upcoming_offers_container">
							<div class="upcoming_offers clearfix">
								<div class="col-lg-6">
								<a href=""><%= image_tag offer.image_url, :class=> "img-responsive" %></a>
								</div>
								<div class="col-lg-6">
									<p><%= offer.description%></p>
									<% if !offer.discount.blank? %>
									<a class="offers_btn btn btn-lg btn-primary" href="#">Sale <%= offer.discount%> Off</a>
									<% end %>
									
								</div>
							</div>
						</div>
					</div>
				
				<%end%>
			


			</div>
			<%end%>
		</div>

		
