

		<div class="container main-content">
			<div class="row latest_offers">
				<div class="section_heading"><h3>Latest Offers</h3></div>
				
				
				<% if !@shop.offers.latest.blank? %>
	<% @shop.offers.latest.each do |offer|%>
				<div class="col-lg-3">
					<div class="offers_box">
						<div class="offer_products">
						<%= image_tag offer.image_url, :class=> "img-responsive" %>
							<div class="offer_text">
								<p><%= offer.discount%> Discount</p>
							</div>
						</div>
						<p class="title"><%= offer.name%></p>
					</div>
				</div>
				<%end%>
				<%end%>
			</div>

			<div class="row upcomin_off">
				<div class="section_heading"><h3>Upcoming Offers</h3></div>
				<% if !@shop.offers.featured.blank? %>
				<% @shop.offers.featured.each do |offer|%>
				<div class="col-lg-6">
					<div class="upcoming_offers_container">
						<div class="upcoming_offers clearfix">
							<div class="col-lg-6">
								<%= image_tag offer.image_url, :class=> "img-responsive" %>
							</div>
							<div class="col-lg-6">
							<%= offer.name%><br>
								<p><%= offer.description%></p>
								<a class="offers_btn btn btn-lg btn-primary" href="#"><p> <%= offer.discount%> Discount</p></a>
							</div>
						</div>
					</div>
				</div>
				<%end%>
				<%end%>
			</div>
		</div>

		
