<Doctype HTML>
<HTML>
	<HEAD>
				<%= stylesheet_link_tag    'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag    'bootstrap-theme.min'%>
		<%= stylesheet_link_tag    'template_4'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	</HEAD>
	<body>
		<nav class="navbar navbar-default">
		  <div class="container">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="">
		      <%= image_tag @shop.avatar_url, :class=> "img-responsive" , :style => "width: 148px;height: 43px"%>
		      </a>
		    </div>


		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="#"><span>Home</span></a></li>
		        <li><a href="#"><span>About Us</span></a></li>
		        <li><a href="#"><span>Contact Us</span></a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

		<div class="banner">
			<%= image_tag @shop.shop_images.first.image_url, :class=> "img-responsive" if  !@shop.shop_images.blank?%>
		</div>

		<div class="container main-content">
			<div class="row latest_offers">
				<div class="col-lg-4">
					<div class="section_heading latest-offers clearfix">
						<h3 class="">Latest Offers</h3>
					</div>
					<div class="latest-offers_box">
					<% if !@shop.offers.latest.blank? %>
					<% @shop.offers.latest.each do |offer|%>
						<div class="clearfix">
						<a href=""><%= image_tag offer.image_url, :class=> "pull-left img-responsive", :style => "width : 91px; height : 64px;" %></a>
							<p class=""><a href=""><%= offer.name%></a></p>
							<p class=""><%= offer.discount%>% Discount</p>
							<p class=""><a href=""><%= offer.description%></a></p>
						</div>
						<%end%>
					<%end%>
						
					</div>
				</div>
				<div class="col-lg-8">
					<div class="section_heading clearfix">
						<h3 class="pull-left">Welcome To Our World</h3>
					</div>
					<div class="offers_box">
						<div class="aboutus">
							<%= @shop.info%>
						</div>
					</div>
				</div>
			</div>

			<div class="row upcomin_off">
				<div class="section_heading col-lg-12"><h3>Upcoming Offers</h3></div>
			<% if !@shop.offers.featured.blank? %>
				<% @shop.offers.featured.each do |offer|%>	
					<div class="col-lg-6">
						<div class="upcoming_offers_container">
							<div class="upcoming_offers clearfix">
								<div class="col-lg-6">
								<a href=""><%= image_tag offer.image_url, :class=> "img-responsive" %></a>
								</div>
								<div class="col-lg-6">
									<p><%= offer.description%></p>
									<a class="offers_btn btn btn-lg btn-primary" href="#">Sale <%= offer.discount%>% Off</a>
								</div>
							</div>
						</div>
					</div>
				
				<%end%>
			<%end%>


			</div>
		</div>

		<footer class="clearfix">
			<div class="container">
				<div class="row">
					<p class="copyright">Copyright @ 2015</p>
				</div>
			</div>
		</footer>
				<script src="jquery.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="bootstrap.min.js"></script>

	</body>
</HTML>
