		<% if !@shop.homecontent.blank? %>
		<div class="container main-content">
			<div class="latest_offers">
				<div class="row">
					<div class="col-lg-12">						
						<p class="about_content"><%= @shop.homecontent.html_safe%></p>
					</div>
				</div>
			</div>

		</div>
		<% end %>
		<div class="container main-content">
			<% if !@shop.info.blank? %>
			<div class="row latest_offers">

				<div class="col-lg-8 col-sm-6 col-xs-12">
					<div class="section_heading clearfix">
						<h3 class="pull-left">About Us</h3>
						<%= image_tag "textstyl.jpg", :class => "img-responsive pull-left", :style => "margin-top: 16px;margin-left: 10px;"%>
					</div>
					<div class="offers_box">
						<div class="aboutus">
							<%= @shop.info.html_safe%>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 col-xs-12">
					<div class="offers_box">
					<%= image_tag "aboutus.jpg", :class => "img-responsive"%>
					</div>
				</div>
			</div>
			<% end %>
			<% if !@shop.offers.latest.blank? %>
			<div class="row upcomin_off">
				<div class="section_heading">
				<%= image_tag "latest_offers.jpg", :class => "img-responsive title_head"%>
				</div>
				<div class="col-lg-12">
					<div class="upcoming_offers_container">
						<div class="upcoming_offers clearfix">
							
							<% @shop.offers.latest.each do |offer|%>
							<div class="col-lg-3">
								<div class="offers_cont">
									<a href=""><%= image_tag offer.image_url, :class=> "img-responsive" %>
									</a>
									<% if !offer.discount.blank? %>
									<div class="discount"><p><a href=""><%= offer.discount%> Discount</a></p></div>
									<% end %>
									
								</div>
								<p class="title"><a href=""><%= offer.name%></a></p>
							</div>
							<%end%>
							
						</div>
					</div>
				</div>
			</div>
			<%end%>
			<% if !@shop.offers.featured.blank? %>
			<div class="row upcomin_off">
				<div class="section_heading">
				<%= image_tag "upcoming_offers.jpg", :class => "img-responsive title_head"%>
				</div>
				<div class="col-lg-12">
					<div class="upcoming_offers_container">
						<div class="upcoming_offers clearfix">
							
							<% @shop.offers.featured.each do |offer|%>
							<div class="col-lg-3">
								<div class="offers_cont">
									<a href=""><%= image_tag offer.image_url, :class=> "img-responsive" %>
									</a>
									<% if !offer.discount.blank? %>
									<div class="discount"><p class="discount"><a href=""><%= offer.discount%> Discount</a></p></div>
									<% end %>
									
								</div>	
								<p class="title"><a href=""><%= offer.name%></a></p>
							</div>
							<%end%>
							

						</div>
					</div>
				</div>
			</div>
			<%end%>
		</div>

	