<%= form_for @businessuser, url: admin_businessuser_action(@businessuser, params[:action]),  :html => { :class => '' , multipart: true  } do |f| %>
    <div class="form-group">
      <%= f.label :first_name, :class => 'control-label' %><span class="asterix">*</span>
      <%= f.text_field :first_name, :class => 'text_field form-control', :placeholder => 'First Name', :required => '' %>
    </div>
    <div class="form-group">
      <%= f.label :last_name, :class => 'control-label' %><span class="asterix">*</span>
      <%= f.text_field :last_name, :class => 'text_field form-control', :placeholder => 'Last Name', :required => '' %>      
    </div>   
    <div class="form-group">
      <%= f.label :phone, :class => 'control-label' %><span class="asterix">*</span>
      <%= f.text_field :phone, :class => 'text_field form-control', :placeholder => 'Phone', :required => '' %>      
    </div>
    <% if params[:action] == "new" %>
    <div class="form-group">
      <%= f.label :email, :class => 'control-label' %><span class="asterix">*</span>
      <%= f.text_field :email, :class => 'text_field form-control', :placeholder => 'Email Name', :required => '' %>      
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, :class => 'form-control', autocomplete: "off" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, :class => 'form-control', autocomplete: "off" %>
    </div>
    <% end %>
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to "cancel", admin_business_users_path, :class => 'btn btn-default' %>
<% end %>