<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>CCbizon - Create your Website</title>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
  <script>
  function initialize() {
    var mapProp = {
      center:new google.maps.LatLng(18.57097,73.87875),
      zoom:15,
      mapTypeId:google.maps.MapTypeId.ROADMAP
    };
    var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
    var marker = new google.maps.Marker({
          position: new google.maps.LatLng(18.57097,73.87875),
          map: map,
          title: ''
        });
  }
  google.maps.event.addDomListener(window, 'load', initialize);
  
  </script>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!-- Bootstrap core CSS -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <%= stylesheet_link_tag    'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'font-awesome.min'%>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <!-- <link href="carousel.css" rel="stylesheet"> -->
    <%= stylesheet_link_tag    'activate_project'%>
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="<%= root_path%>">CCbizon</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse pull-right">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#" data-id='home-section'>Home</a></li>
                <li><a href="#" data-id='info-section'>Pricing</a></li>
                <li><a href="#" data-id='info-section'>What We do</a></li>
                <li><a href="#" data-id='contact-section'>Contact Us</a></li>
                <li><a href="#" data-id='contact-section'>Menu</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <div class="container">
      <ol class="breadcrumb">
        <li><a href="#">> Mywebsite</a></li>
      </ol>
    </div>

    <div class="main-content">
      <div class="container">
        <div class="edit-project-section">
          <div class="edit-thumbnail-container">
            <div class="edit-thumbnail-wrap">
              <img src="/assets/no-image.jpg" alt="Edit your site" title="Edit your site">
            </div>
          </div>
          <div class="edit-thumbnail-content">
            <p class="title">Site 1</p>
            <p class="desc">This project is not available because registration was not completed. Please activate the project.</p>
            <input type="submit" class="btn btn-blue edit-btn" value="Start to edit" />
            <p class="delete-site">Delete Website</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->

    <!-- FOOTER -->
    <footer class="">
      <div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2016 <span>Powered by <a href="http://www.jalaram-techsolutions.com" target="blank"> jalaram-techsolutions.com</a></span></p>
      </div>
    </footer>

  </body>
</html>
