<p>Hi Admin</p>

<p>New Business website is created with following details:</p>

<p>Name: <%= @shop.name %></p>
<p>Sub-Domain: <%= @shop.subdomain %></p>
<p>Phone: <%= @shop.phone %></p>
<p>Address: <%= @shop.address %></p>
<p>Email: <%= @shop.business_user.email %> </p>
