<%= form_for @shop_seo, url: businessuser_pages_action(@shop_seo, params[:action]), :html => { :class => '' , multipart: true  } do |f| %> 
	<% if @shop_seo.errors.full_messages.any? %>
	<% @shop_seo.errors.full_messages.each do |error_message| %>
	<%= error_message if @shop_seo.errors.full_messages.first == error_message %> <br />
	<% end %>
	<% end %>
  <div class="form-group">
      <fieldset>
      	<div class="form-group">	      
      	<input type="hidden" name="shop_id" id="shop_id" value="<%=@shop.id%>">
	      
	    </div>	
	    <div class="form-group">
	      <%= f.label :page_name, :class => 'control-label' %> (Visible in menu)
	      <%= f.text_field :pagealias, :class => 'text_field form-control', :placeholder => 'Enter text' %>
	    </div>    
	    
	    <div class="form-group">
	      <%= f.label :page_name, :class => 'control-label' %> 
	      <%= f.text_field :pagename, :class => 'text_field form-control', :placeholder => 'Enter text' %>
	    </div>   
	   
	    <div class="form-group">
	      <%= f.label :parentpage %><br />
	      <%= f.collection_select(:parentpage, @shop.seodetails.all, :id, :pagename, {:prompt => 'Select'}, {:class => 'form-control'}) %>
	    </div>
	    <div class="form-group">
	      <%= f.label :Page_Content, :class => 'control-label' %>
	      <%= f.text_area :pagecontent, :class => 'text_field form-control tinymce', :rows => 10 %>
	  	</div>
	  	<div class="form-group">
	      <%= f.label :header_background_color, :class => 'control-label' %> 
	      <%= f.text_field :headerbg, :type=>"color", :class => 'text_field form-control', :placeholder => 'Enter text' %>
	    </div>
	    <div class="form-group">
	      <%= f.label :footer_background_color, :class => 'control-label' %> 
	      <%= f.text_field :footerbg, :type=>"color", :class => 'text_field form-control', :placeholder => 'Enter text' %>
	    </div>

	    <%= f.submit "Add", :class => 'btn btn-primary' %>
	    
	  </fieldset>
  </div>  
<% end %>
<%= tinymce :alternate %>
<script language="javascript">

$( "#seodetail_pagename" ).change(function() {
  if($(this).val()=="other"){
  	$("#otherpage").show("slow");
  }else{
  	$("#otherpage").hide("slow");
  }
});
</script>                              


