<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Business Website SEO details</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">    
          <%= link_to "Add Page", new_business_user_page_path(:shop_id => @shop.id), :class => 'btn btn-primary' %>               
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body" id="container1">
          
          <div class="row" id="items1">
            <table class="table table-striped table-bordered table-hover dataTables-example" id="dataTables-example">
              <thead>
                <tr>
                  <th>Page</th>
                  <th>Shop/Website</th>
                  <th>Page Name</th>                  
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
            <% if !@shop_seo.blank?%>
            <% @shop_seo.each do |seo| %>            
                <tr>
                  <td><%= seo.pagename %></td>
                  <td><%= seo.shop.name %></td>
                  <td><%= seo.pagealias %></td>                  
                  <td>
                    <%= link_to "Edit", {:controller => "pages", :action => "edit", :id => seo.id, :shop_id => seo.shop_id} , :class => 'btn btn-primary btn-mini'%>
                    <%= link_to "Clone Page", "/business_user/pages/clone/#{seo.shop_id}/#{seo.id}" , :class => 'btn btn-primary btn-mini'%>
                    <%= link_to "Page Builder", "/business_user/pages/design/#{seo.shop_id}/#{seo.id}" , :class => 'btn btn-primary btn-mini'%>

                    <%= link_to "Delete",
                    {:controller => "pages", :action => "destroy",:id => seo.id, :shop_id => seo.shop_id},
                    :method => :delete,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure you want to delete shop?')) },
                    :class => 'btn btn-mini btn-danger' %>
                    
                  </td>
                  
                </td>
            <% end %>
          <% end %>
          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
</div>
<!-- /#page-wrapper -->
