<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Users</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= link_to "Create a New User", new_business_user_site_user_path, :class => 'btn btn-primary' %>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover dataTables-example" id="dataTables-example">
              <thead>
                <tr>
                  <th>Name</th>                  
                  <th>Site</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <% if !@shop_users.blank?%>
                  <% @shop_users.each do |shopuser| %>
                    <tr>
                      <td><%= link_to shopuser.email, business_user_site_user_path(shopuser) %></td>                  
                      <td><%= shopuser.shop.name if !shopuser.shop.blank?%></td>
                      <td>
                        <%= link_to "Files", {:controller => "files", :action => "index", :site_user_id => shopuser.id} , :class => 'btn btn-primary btn-mini'%>
                        <% if shopuser.shop.fields.count > 0 %>
                        <%= link_to "User Details","/business_user/site_users/properties/#{shopuser.id}", :class => 'btn btn-primary btn-mini' %>
                        <% end %>
                        <%= link_to "Edit",
                                    edit_business_user_site_user_path(shopuser), :class => 'btn btn-primary btn-mini' %>
                        
                        <%= link_to "Delete",
                                    business_user_site_user_path(shopuser),
                                    :method => :delete,
                                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                    :class => 'btn btn-mini btn-danger' %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
</div>
<!-- /#page-wrapper -->
