<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Upload Business websites Images</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">          
          <%= link_to "Back", business_user_shops_path, :class => 'btn btn-primary' %>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body" id="container1">
          
          <div class="row" id="items1">
            <div class="form-group">
              <%= form_for @shop, url: business_shop_action(@shop, params[:action]),:html => { :class => '' , multipart: true  } do |f| %>
                
                <%= f.fields_for :fields do |builder| %>
                  <%= render 'field_fields', f: builder %>
                <% end %>
                <%= link_to_add_fields "Add Field", f, :fields %>
                <%= f.submit nil, :class => 'btn btn-primary' %>
              <% end %>
            </div>
          </div>
          
          
          <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
</div>
<!-- /#page-wrapper -->
