<%= form_for @offer, :html => { :class => 'newform', :id => '', multipart: true, :novalidate => ''  } do |f| %>
  <fieldset>
    <div class="form-group">
      <%= f.label :name, :class => 'control-label' %><span class="asterix">*</span>
      <%= f.text_field :name, :class => 'text_field form-control', :placeholder => 'Enter text', :required => '' %>
    </div>
    <div class="form-group">
      <%= f.label :shop_id %><br />
      <%= f.collection_select(:shop_id, current_business_user.shops.all, :id, :name, {:prompt => 'Select'}, {:class => 'form-control'}) %>
    </div>
    <div class="form-group">
      <%= f.label :description %><br />
      <%= f.text_area :description, :class => 'text_field form-control' %>
    </div>
    <div class="alert alert-error" id="start_alertew" style="display:none">
      <strong></strong>
    </div>
    <div class="form-group">
      <%= f.label :start_date %><span class="asterix">*</span><br />
      <div class="date"><%= f.text_field :start_date, :class => 'text_field date form-control', :id => 'date-start-display', :required => '' %>
      <a href="#" class="btn small calendar" id="date-start" data-date-format="yyyy-mm-dd" data-date=""></a></div>
    </div>
    <div class="alert alert-error" id="end_alert" style="display:none">
      <strong></strong>
    </div>
    <div class="form-group">
      <%= f.label :end_date %><span class="asterix">*</span><br />
      <div class="date"><%= f.text_field :end_date, :class => 'text_field form-control', :id => 'date-end-display', :required => '' %>
      <a href="#" class="btn small calendar" id="date-end" data-date-format="yyyy-mm-dd" data-date=""></a></div>
    </div>
    <div class="form-group">
      <%= f.label :brand %><br />
      <%= f.text_area :brand, :class => 'text_field form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :product %><br />
      <%= f.text_area :product, :class => 'text_field form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :discount %><br />
      <%= f.text_field :discount, :class => 'text_field form-control', :required => '' %>
    </div>
    <div class="form-group">
      <%= f.label :image, :class => 'control-label' %>
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %>
  </div>
    <div class="form-group">
      <%= f.label :status %><br />
      <%= f.select(:status, ["latest", "featured"].map { |value| [ value, value ] }, {}, {:class => 'form-control'})%>
    </div>
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to "cancel", business_user_offers_path, :class => 'btn btn-default' %>
  </fieldset>
<% end %>
