<p>Hi <%= @shop.name %>,</p>

<p>Somebody has contacted with following details:</p>

<p>Name: <%= @contact.contactname %></p>
<p>Email: <%= @contact.contactemail %></p>
<p>Phone: <%= @contact.contactnumber %></p>
<p>Details: <%= @contact.contactinfo %></p>

