<!Doctype HTML>
<HTML>
	<HEAD>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Latest compiled and minified CSS -->
		<%= stylesheet_link_tag    'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag    'bootstrap-theme'%>
		<%= stylesheet_link_tag    'font-awesome.min'%>
		<%= stylesheet_link_tag    'events'%>
		<%= stylesheet_link_tag    'health_1'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= render :partial => "layouts/metatags"%>
  	<%= render :partial => "layouts/commonstyles"%>
  	
	</HEAD>
	<body>
		<nav class="navbar navbar-default">
		  <div class="container">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/">
		      	<%= image_tag @shop.avatar_url, :class=> "img-responsive"%>
		      </a>
		    </div>


		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <%= render partial: 'layouts/menubuilder' %>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

		<% if @shop.isactive == 0 || @shop.isactive.to_s == "nil"%>		
    <div class="transparent">Waiting for administrator approval</div>	
    <% end %>
    <%= yield %>

		<footer class="clearfix">
      <div class="container">
        <div class="row">
          <p class="pull-left col-lg-6 copyright">Copyright @ 2015.<span>Powered by <a href="http://www.jalaram-techsolutions.com" target="blank"> jalaram-techsolutions.com</a></span></p>
          <div class="pull-right col-md-3 hidden-xs">
            <%= render :partial => "layouts/social_media"%>
          </div>
        </div>
      </div>
    </footer>
		<%= render :partial => "layouts/googleanalytics"%>	
	<% if !@shop.auction.blank? %>		
		<script type="text/javascript">
		  $(document).ready(function() {
		    getTimer("<%= @shop.auction.startdatetime %>");
		  })
		</script>
	<% end %>
	<%= render :partial => "home/login_modal", locals: {} %>
	</body>
</HTML>