<!Doctype HTML>
<HTML>
	<HEAD>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Latest compiled and minified CSS -->
		<%= stylesheet_link_tag    'bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag    'bootstrap-theme'%>
		<%= stylesheet_link_tag    'font-awesome.min'%>
		<%= stylesheet_link_tag    'template_3'%>
		<%= stylesheet_link_tag    'events'%>
		<%= stylesheet_link_tag    'lightbox'%>
  		
    	<%= render :partial => "layouts/metatags"%>
    	<%= render :partial => "layouts/commonstyles"%>
    	
	</HEAD>
	<body>
		<nav class="navbar navbar-default">
		  <div class="container">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="">
		      <%= image_tag @shop.avatar_url, :class=> "img-responsive" , :style => "width: 148px;height: 43px"%>
		      </a>
		    </div>


		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="http://<%= @shop.subdomain%>.<%= request.domain%>"><span>Home</span></a></li>
		       	<% if !@shop.events.blank? %>		        
		        <li><a href="/shopevents"><span>Events</span></a></li>
		        <% end %>		 
		        <% if !@shop.auction.blank? %>		        
		        <li><a href="/auction"><span>Live auction update</span></a></li>
		        <li><a href="/teams"><span>Teams</span></a></li>
		        <% end %>
		        <% if !@shop.shop_images.blank? %>
		        	<li><a href="/gallery"><span>Gallery</span></a></li>
		        <% end %>  
		        <li><a href="/contactus"><span>Contact Us</span></a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
    <%#= render :partial => "layouts/carousel"%>	

    <%= yield %>  

	<footer class="clearfix">
			<div class="container">
				<div class="row">
					<div class="pull-right col-md-3 hidden-xs">	          
	          <%= render :partial => "layouts/social_media"%>
        	</div>
					<div class="pull-right col-lg-3 address hidden-xs">
						<!-- <p>Way To Restaurant</p> -->
     				<span><%#= @shop.address%></span>
					</div>
					<p class="pull-left col-lg-6 copyright">Copyright @ 2015.<span>Powered by <a href="http://www.jalaram-techsolutions.com" target="blank"> jalaram-techsolutions.com</a></span></p>
				</div>
			</div>
		</footer>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= render :partial => "layouts/googleanalytics"%>

	</body>
</HTML>
